/* Goude tekst */

.gold-text {
    font-weight: 900;
    text-transform: uppercase;
    color: #D4AF37; /* back up tekst */

    /* Gradient */
    background: linear-gradient(
            to right,
            #bf953f 0%,
            #fcf6ba 25%,
            #b38728 50%,
            #fbf5b7 75%,
            #aa771c 100%
    );
    background-size: 200% auto;

    /* Clip background to text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the background position */
    animation: shine-text 4s linear infinite;
}

@keyframes shine-text {
    to {
        background-position: 200% center;
    }
}