/* Goude tekst */

.gold-text {
    font-weight: 900;
    text-transform: uppercase;
    color: #D4AF37;

    background: linear-gradient(
            to right,
            #bf953f 0%,
            #fcf6ba 25%,
            #b38728 50%,
            #fbf5b7 75%,
            #aa771c 100%
    );
    background-size: 200% auto;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine-text 4s linear infinite;
}

@keyframes shine-text {
    to {
        background-position: 200% center;
    }
}

/* glinster animatie */

.diamond-card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
}

.sparkle {
    position: absolute;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 0;

    clip-path: polygon(50% 0%, 61% 35%, 100% 50%, 61% 65%, 50% 100%, 39% 65%, 0% 50%, 39% 35%);
    z-index: 10;
    pointer-events: none;
}

.s1 { top: 20%; left: 20%; animation-delay: 0s; }
.s2 { top: 60%; left: 70%; animation-delay: 0.3s; }
.s3 { top: 30%; left: 60%; animation-delay: 0.6s; }


.diamond-card:hover .sparkle {
    animation: flash 1.5s infinite;
}

@keyframes flash {
    0% { transform: scale(0) rotate(0deg); opacity: 0; }
    50% { transform: scale(1.5) rotate(45deg); opacity: 1; box-shadow: 0 0 10px white; }
    100% { transform: scale(0) rotate(90deg); opacity: 0; }
}

/* button animatie */

.sheen-btn {
    position: relative;
    background-color: #111;
    color: #D4AF37;
    padding: 15px 30px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #D4AF37;
    transition: all 0.3s;
}

.sheen-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
            to right,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0.4) 50%,
            rgba(255,255,255,0) 100%
    );
    transform: skewX(-25deg);
    z-index: 1;
}

.sheen-btn:hover::after {
    animation: sheen-slide 0.7s;
}

.sheen-btn:hover {
    background-color: #D4AF37;
    color: #000;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.6);
}

@keyframes sheen-slide {
    100% {
        left: 200%;
    }
}